<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
</h:head>
<body>
	<h:form>
		<p:messages id="messages" />
		<h:panelGrid columns="2" cellpadding="5">
			<h:outputLabel for="email" value="Email:" />
			<p:inputText id="email" value="#{LoginBean.email}" required="true"
				label="email" />

			<h:outputLabel for="password" value="Password:" />
			<p:password id="password" value="#{LoginBean.password}"
				required="true" label="password" />

			<p:commandButton value="Login" action="#{LoginBean.doLogin()}" />
		</h:panelGrid>
	</h:form>
</body>
</html>
