<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
</h:head>
<body>
	<h:form>
		<h:panelGrid columns="2" cellpadding="10">
			<h:outputLabel
				value="Bem vindo ao cadastro de pessoas, #{LoginBean.nome}" />
			<p:commandButton value="Logoff" action="#{LoginBean.doLogout()}" />
		</h:panelGrid>
	</h:form>

	<h:form>
		<p:panel id="cadastro" header="Quem iremos cadastrar hoje?"
			style="margin-bottom:20px">

			<p:messages id="messages" />

			<h:panelGrid columns="6" cellpadding="10">
				<h:outputLabel for="nome" value="Nome" />
				<p:inputText id="nome" value="#{Cadastro.nome}" 
					label="password" />

				<h:outputLabel for="email" value="Email" />
				<p:inputText id="email" value="#{Cadastro.email}" 
					label="email" />

				<p:outputLabel for="sexo" value="Sexo:" />
				<p:selectOneRadio id="sexo" value="#{Cadastro.sexo}">
					<f:selectItem itemLabel="Masculino" itemValue="M" />
					<f:selectItem itemLabel="Feminino" itemValue="F" />
				</p:selectOneRadio>

				<h:outputLabel for="endereco" value="Endereco" />
				<p:inputText id="endereco" value="#{Cadastro.endereco}" label="endereco" />

				<h:outputLabel for="idade" value="Idade" />
				<p:inputNumber id="idade" value="#{Cadastro.idade}" 
					label="idade" />
			</h:panelGrid>

			<p:commandButton value="Save" update="cadastro"
				action="#{Cadastro.doSave()}" />
		</p:panel>

		<p:panel id="pesquisa" header="Por quem deseja pesquisar?"
			style="margin-bottom:20px">
			<p:messages id="msg" />

			<h:panelGrid columns="2" cellpadding="10">
				<p:inputText id="search" value="#{Cadastro.search}" />
				<p:commandButton value="Pesquisar" update="pesquisa"
					action="#{Cadastro.doSearch()}" />
			</h:panelGrid>

			<p:dataTable id="table" var="pessoa"
				rendered="#{Cadastro.printTable}" value="#{Cadastro.pessoas}">
				<p:column headerText="Email">
					<h:outputText value="#{pessoa.email}" />
				</p:column>

				<p:column headerText="Nome">
					<h:outputText value="#{pessoa.nome}" />
				</p:column>

				<p:column headerText="Sexo">
					<h:outputText value="#{pessoa.sexo}" />
				</p:column>

				<p:column headerText="Idade">
					<h:outputText value="#{pessoa.idade}" />
				</p:column>

				<p:column headerText="Endereço">
					<h:outputText value="#{pessoa.endereco}" />
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>
</body>
</html>
